.checkout-container {
  padding-top: 20px;
  width: 1175px; 
}

.cart {
  padding: 0 20px;
}

.cart h2 {
  margin-bottom: 10px;
}

.cart ul {
  list-style-type: none;
  padding-left: 0;
}

.order-card {
  padding: 20px;
}

@media (max-width: 768px) {
  .order-card {
    margin-top: 20px;
  }
}

.cvvBox {
  width: 80px; 
}

.zipBox {
  width:100px; 
}


.stateBox {
  width:150px; 
}

