.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Custom Colors */

.navbar-clickable {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to top, #b68600 30%, #ecde57 100%);
  background-size: 100%;
}

.navbar-clickable:hover {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(to top, #ecde57 30%, #b68600 100%);
  background-size: 100%;
}

.mobile-menu {
  border-color: #ecde57;
}

.navbar-search-button {
  color: #fff;
  background-image: linear-gradient(to top, #8b2500 30%, #e8951b 100%);
  background-size: 100%;
  padding: 5px 20px;
  border-radius: 25px;
}

.navbar-search-button:hover {
  background-image: linear-gradient(to top, #e8951b 30%, #8b2500 100%);
  background-size: 100%;
}

/* fontsizes */

#navbar-logo-text {
  font-size: 2.5rem;
}

#navbar-logo-image {
  width: 50px;
  height: 50px;
}

.navbar-link {
  font-size: 1.5rem;
}

.navbar-sublink {
  font-size: 1.25rem;
}

#navbar-shopping-cart {
  align-items: center;
  justify-content: center;
}

#navbar-shopping-image {
  position: relative;
  top: -5px;
  left: 5px;
  width: 25px;
  height: 25px;
}

@media (max-width: 1200px) {
  #navbar-logo-text {
    font-size: 2rem;
  }

  #navbar-logo-image {
    width: 45px;
    height: 45px;
  }

  .navbar-link {
    font-size: 1.2rem;
  }

  .navbar-sublink {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    align-items: center;
  }

  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@media (max-width: 780px) {
  #navbar-logo-text {
    font-size: 1.5rem;
  }

  #navbar-logo-image {
    width: 40px;
    height: 40px;
  }

  .navbar-link {
    font-size: 0.9rem;
  }

  .navbar-sublink {
    font-size: 0.75rem;
  }
}
